#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.button_visible {
  display: block !important;
  opacity: 1;
  animation: fadeIn 450ms;
}
.button_invisible {
  display: none !important;
  opacity:0;
  animation: fadeOut 450ms;
}


header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(119, 173, 240);
  padding:1.3rem;
}

/* LIBRARY */
.library_addbook {
  margin-top:1%;
}
.add_book_modal {
  display: grid;
  justify-items: center;
  gap:10px;
}
.add_book_modal label {

}
.add_book_modal input {

}

#genres {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:5px;
}
#newGenre {
  background-color: rgb(249, 246, 243);
  border-radius: 10px;
  padding:3px;
  transition: 150ms;
}
#newGenre:hover {
  cursor: pointer;
  background-color: aliceblue;
  transform: scale(1.02);
}
/* new author field */
#new_author {
  display: grid;
  justify-items: center;
}
#choose_author_button {
  width:50%;
}
/* top authors (displays by default) */
.top_authors {
  display: grid;
}
#top_author {
  color:teal;
}
/*  */
/* add new author form */
.add_new_author_form {
  display: grid;

}
.add_new_author_form label {

}
.add_new_author_form input {
  
}
/*  */

#filtered_author {
  border: 1px solid rgb(75, 74, 74);
  background-color: rgb(243, 248, 254);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 200ms;
}
#filtered_author:hover {
  cursor: pointer;
  background-color: rgb(203, 223, 249);
}
.filteredSelectedAuthor {
  background-color: rgb(203, 223, 249) !important;
  cursor: pointer;
}


#add_book_button {
  justify-self: stretch;
}

.library {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
  margin-top:2%;
}
.book {
  border: 0.5px solid grey;
  border-radius: 8px;
}
.book_delete {
  color:red;
  display: flex;
  justify-content: end;
}
.book_delete img {
  width:3rem;
}
.book_delete img:hover {
  cursor: pointer;
}
.book_title {

}
.book_author {

}
.book_year {

}
.book_genre {

}
.book_edit {
  display: grid;
  align-items: center;
  justify-items: center;
}


/*  */



/* AUTHORS */
.authors {
  
}

.author {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
}

/*  */